[submodule ".submodules/gdUnit4"]
	path = .submodules/gdUnit4
	url = https://github.com/MikeSchulze/gdUnit4
[submodule ".submodules/gdscript_xml_converter"]
	path = .submodules/gdscript_xml_converter
	url = https://gitlab.com/Cykyrios/gdscript-xml-converter.git
